<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            name="创建数控程序集"
            id="com.fun.tc.nc.commands.CreateCAM">
      </command>
      <command
            name="创建数控工艺"
            id="com.fun.tc.nc.commands.CreateCAE">
      </command>
      <command
            name="数控工序修订"
            id="com.fun.tc.nc.commands.ReviseCAE">
      </command>
            <command
            name="上传数控程序"
            id="com.fun.tc.nc.commands.UploadingCAM">
      </command>
            <command
            name="下载数控程序"
            id="com.fun.tc.nc.commands.DownloadCAM">
      </command>
            <command
            name="上传仿真报告"
            id="com.fun.tc.nc.commands.UploadingReport">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.fun.tc.nc.handlers.CreateCAMHandler"
            commandId="com.fun.tc.nc.commands.CreateCAM">
            <enabledWhen>
			<and>
				<or>
               		<reference definitionId="com.teamcenter.rac.cme.mpp.inMainView"/>
				</or>
			</and>
			</enabledWhen>           
      </handler>
      <handler
            class="com.fun.tc.nc.handlers.CreateCAEHandler"
            commandId="com.fun.tc.nc.commands.CreateCAE">
            <enabledWhen>
			<and>
				<or>
               		<reference definitionId="com.teamcenter.rac.cme.mpp.inMainView"/>
				</or>
			</and>
			</enabledWhen>            
      </handler>
      <handler
            class="com.fun.tc.nc.handlers.ReviseCAEHandler"
            commandId="com.fun.tc.nc.commands.ReviseCAE">
            <enabledWhen>
			<and>
				<or>
               		<reference definitionId="com.teamcenter.rac.cme.mpp.inMainView"/>
				</or>
			</and>
			</enabledWhen>            
      </handler>
      
      <handler
            class="com.fun.tc.nc.handlers.DownloadCAMHandler"
            commandId="com.fun.tc.nc.commands.DownloadCAM">
            <enabledWhen>
			<and>
				<or>
               		<reference definitionId="com.teamcenter.rac.cme.mpp.inMainView"/>
				</or>
			</and>
			</enabledWhen>           
      </handler>
       <handler
            class="com.fun.tc.nc.handlers.UploadingCAMHandler"
            commandId="com.fun.tc.nc.commands.UploadingCAM">
            <enabledWhen>
			<and>
				<or>
               		<reference definitionId="com.teamcenter.rac.cme.mpp.inMainView"/>
				</or>
			</and>
			</enabledWhen>           
      </handler>
            <handler
            class="com.fun.tc.nc.handlers.UploadingReportHandler"
            commandId="com.fun.tc.nc.commands.UploadingReport">
            <enabledWhen>
			<and>
				<or>
               		<reference definitionId="com.teamcenter.rac.cme.mpp.inMainView"/>
				</or>
			</and>
			</enabledWhen>            
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.fun.tc.nc.menus.cam"
               label="数控程序">
            <command
                  commandId="com.fun.tc.nc.commands.CreateCAM"
                  id="com.fun.tc.nc.commands.CreateCAM"
                  mnemonic="S">
            </command>
            <command
                  commandId="com.fun.tc.nc.commands.CreateCAE"
                  id="com.fun.tc.nc.commands.CreateCAE"
                  mnemonic="S">
            </command>
            <command
                  commandId="com.fun.tc.nc.commands.UploadingCAM"
                  id="com.fun.tc.nc.commands.UploadingCAM"
                  mnemonic="S">
            </command>
             <command
                  commandId="com.fun.tc.nc.commands.UploadingReport"
                  id="com.fun.tc.nc.commands.UploadingReport"
                  mnemonic="S">
            </command>
            <command
                  commandId="com.fun.tc.nc.commands.DownloadCAM"
                  id="com.fun.tc.nc.commands.DownloadCAM"
                  mnemonic="S">
            </command>
            <command
                  commandId="com.fun.tc.nc.commands.ReviseCAE"
                  id="com.fun.tc.nc.commands.ReviseCAE"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
